@import './../../sassVars.scss';

#Loader {
  .loader_background_small {
    // z-index: 1;
    background-color: $brightColor;
    display: flex;
    justify-content: center;
    align-items: center;
    // position: absolute;
    // top: 0;
    // left: 0;
  }
  .loader_background_cover {
    z-index: 2;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $brightColor;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .loader {
    border: 16px solid $lightColor;
    border-top: 16px solid $mediumColor;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1.5s linear infinite;
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
}