@import './../../../sassVars.scss';

#BoardGrid {
  width: 80vw;
  // display: flex;
  // flex-wrap: wrap;
  .grid_tileBox {
    position: relative;
    width: 16vw;
    height: 27vh;
    float: left;
    margin: 5vh 0 0 3vw;
  }
  .grid_tile {
    float: left;
    position: relative;
    width: 16vw;
    height: 27vh;
    border: solid 1px $dullColor;
    border-radius: $borderRadius;
    overflow: hidden;
    transition: border .2s ease-in-out;
    .grid_pic {
      width: 16vw;
      height: 27vh;
      background-color: white;
      background-position: center;
      background-size: cover;
    }
    .grid_picTransparent {
      width: 16vw;
      height: 27vh;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(white, .6);
      transition: all .2s ease-in-out;
    }
    p {
      position: absolute;
      left: 10px;
      bottom: 10px;
      color: $mediumColor;
      transition: all .2s ease-in-out;
    }
  }
  .grid_deleteButton {
      // z-index: 1;
      width: 1.7rem;
      height: 1.7rem;
      position: absolute;
      top: -20px;
      right: -20px;
      margin: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $mediumColor;
      border-radius: $borderRadius;
      transition: all .2s ease-in-out;
      svg {
        width: 1rem;
        height: 1rem;
        fill: $lightColor;
        transform: rotate(45deg);
      }
  }
  .grid_deleteButton:hover {
    background-color: $deleteColor;
    cursor: pointer;
  }
  .grid_tile:hover .grid_picTransparent {
    background-color: rgba(white, .9);
  }
  .grid_tile:hover p {
    color: $darkColor;
  }
  .grid_tile:hover {
    border: solid 1.5px $dullColor;
  }
  .grid_addTile {
    border: dashed 1.5px $dullColor;
    margin: 5vh 0 0 3vw;
    // transition: none;
    .grid_picTransparent {
      display: flex;
      justify-content: center;
      align-items: center;
      svg {
        width: 20vh;
        height: 20vh;
        fill: $mediumColor;
        transition: all .2s ease-in-out;
      }
    }
  }
  .grid_addTile:hover svg {
    fill: $darkColor;
  }
  .grid_addTile:hover {
    cursor: pointer;
    border: dashed 1.7px $dullColor;
  }
}