@import './../../../sassVars.scss';
// @import './../commonModule.scss';

#Create {
  .module_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
      min-width: 25vw;
      padding: 10px;
      display: flex;
      justify-content: center;
      font-family: $straightFontFamily;
      font-size: 2rem;
      border-bottom: solid 1px $dullColor;
    }
    button {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}

