@import './../../../sassVars.scss';

#Edit {
  .module_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    h1 {
      position: absolute;
      top: 5px;
      left: 5px;
    }
    h3 {
      font-family: $displayFontFamily;
      font-size: 1.2rem;
      width: 25vw;
    }
    .module_userListMask {
      height: 150px;
    }
    button {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}