@import './../../../sassVars.scss';

#SideNav > * {
  margin: 0 20px 0 0;
}
#SideNav {
  z-index: 1;
  width: 20vw;
  min-height: 100vh;
  background-color: $mediumColor;
  border-top-right-radius: $borderRadius;
  border-bottom-right-radius: $borderRadius;
  color: $brightColor;
  .sideNav_title {
    font-family: $displayFontFamily;
    font-size: 2.2rem;
    margin: 0;
    padding: 10px 5px;
    display: flex;
    justify-content: center;
    border-bottom: solid 1px $dullColor;
  }
  .sideNav_userDisplay {
    // width: 100%;
    height: 20vh;
    // padding: 0 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .sideNav_username {
      height: 60px;
      padding: 5px 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      h2 {
        font-size: 1.5rem;
      }
      p:hover {
        cursor: pointer;
      }
    }
    .sideNav_profilePic {
      width: 60px;
      height: 60px;
      background-position: center;
      background-size: cover;
      border-radius: $borderRadius;
      border: solid 1px $dullColor;
    }
  }
  .sideNav_groupsList {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    .sideNav_groupHeader {
      height: 2.5rem;
      display: flex;
      align-items: center;
      h2 {
        margin: 0 0 10px 0;
        font-family: $displayFontFamily;
        font-size: 1.7rem;
      }
      .sideNav_groupButton:hover {
        cursor: pointer;
      }
      .sideNav_groupButton {
        width: 1.7rem;
        height: 1.7rem;
        margin: 0 0 0 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $brightColor;
        border-radius: $borderRadius;
        // color: $mediumColor;
        svg {
          width: 1rem;
          height: 1rem;
          fill: $mediumColor;
        }
      }
    }
    .sideNav_groupsContainer > *:hover {
      cursor: pointer;
    }
    .sideNav_groupsContainer {
      .sideNav_groupBox {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        // position: relative;
        .sideNav_hoverBox{
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          position: relative;
          .sideNav_hoverMenu {
            z-index: 1;
            display: none;
            width: 6.5rem;
            // height: 80px;
            top: calc(1.3rem + 10px + 3px);
            left: -3.6rem;
            background: $lightColor;
            position: absolute;
            border-radius: $borderRadius;
            text-align: right;
            p {
              margin: 10px;
              color: $mediumColor;
            }
            p:hover {
              cursor: pointer;
              color: $dullColor;
            }
          }
          .sideNav_hoverMenu:hover {
            cursor: default;
          }
          .sideNav_hoverMenu:before {
            content:"";
            position: absolute;
            bottom: 100%;
            right: 7px;
            width: 0;
            height: 0;
            border-left: 13px solid transparent;
            border-bottom: 5px solid $lightColor;
            border-right: 13px solid transparent;
          }
          .sideNav_h3Link {
            text-decoration: none;
            text-align: right;
            color: $brightColor;
            margin: 10px 0;
            font-size: 1.3rem;
            border-bottom: solid 1px $dullColor;
          }
        }
        .sideNav_hoverBox:hover .sideNav_hoverMenu {
          display: block;
        }
        .sideNav_hoverBox2 {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            position: relative;
            .sideNav_hoverMenu2 {
              z-index: 1;
              display: none;
              width: 6.5rem;
              // height: 80px;
              top: calc(1.3rem);
              left: -4.8rem;
              background: $lightColor;
              position: absolute;
              border-radius: $borderRadius;
              text-align: right;
              p {
                margin: 10px;
                color: $mediumColor;
              }
              p:hover {
                cursor: pointer;
                color: $dullColor;
              }
            }
            .sideNav_hoverMenu2:hover {
            cursor: default;
          }
          .sideNav_hoverMenu2:before {
            content:"";
            position: absolute;
            bottom: 100%;
            right: 7px;
            width: 0;
            height: 0;
            border-left: 13px solid transparent;
            border-bottom: 5px solid $lightColor;
            border-right: 13px solid transparent;
          }
        }
        .sideNav_h4Link {
          text-decoration: none;
          color: $brightColor;
          margin: 0 0 10px 0;
        }
        .sideNav_hoverBox2:hover .sideNav_hoverMenu2 {
          display: block;
        }
      }
    }
  }
}