@import './../../sassVars.scss';

#Dashboard {
  width: 100%;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  // overflow-y: hidden;
  background-color: $lightColor;
  .Dashboard_selected {
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1 {
      font-family: $displayFontFamily;
      font-size: 3rem;
      margin: 0 0 40px 0;
    }
  }
}