@import url("https://fonts.googleapis.com/css?family=Knewave");
@import url("https://fonts.googleapis.com/css?family=Nunito:300,600");
#Dashboard {
  width: 100%;
  min-height: 100vh;
  background-color: #DCEED1; }
