@import './../../sassVars.scss';

#Dashboard {
  width: 100%;
  min-height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  // overflow-y: hidden;
  background-color: $lightColor;
}