@import './../../sassVars.scss';

.module_mask {
  width: 100%;
  height: 100vh;
  // overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  // display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba($darkColor, .7);
  .module_box {
    width: 30vw;
    min-height: 20vh;
    padding: 3rem 10px 3.5rem;
    // padding-bottom: 3.5rem;
    position: relative;
    border-radius: $borderRadius;
    background-color: $brightColor;
    color: $darkColor;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .module_exitButton {
      width: 1.7rem;
      height: 1.7rem;
      position: absolute;
      top: 0;
      right: 0;
      margin: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $mediumColor;
      border-radius: $borderRadius;
      svg {
        width: 1rem;
        height: 1rem;
        fill: $lightColor;
        transform: rotate(45deg);
      }
    }
    .module_exitButton:hover {
      cursor: pointer;
    }
    h1 {
      position: absolute;
      top: 5px;
      left: 5px;
      font-family: $displayFontFamily;
      font-size: 1.8rem;
    }
    h2 {
      min-width: 25vw;
      padding: 10px;
      display: flex;
      justify-content: center;
      font-family: $straightFontFamily;
      font-size: 2rem;
      border-bottom: solid 1px $dullColor;
    }
    h3 {
      font-family: $displayFontFamily;
      font-size: 1.2rem;
      width: 25vw;
    }
    input {
      // z-index: 2;
      width: 25vw;
      height: 2.3rem;
      padding: 5px;
      border: solid .5px $darkColor;
      border-radius: $borderRadius;
      font-family: $straightFontFamily;
      font-size: 1rem;
      color: $darkColor;
    }
    input:focus {
      outline: none;
    }
    .module_memberListMask {
      width: 25vw;
      min-height: 45px;
      position: relative;
      // overflow: hidden;
      border: solid .5px $dullColor;
      border-radius: $borderRadius;
      .module_memberList {
        margin: 5px 0 5px 5px;
        .module_member {
          margin: 0 0 7px 0;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .module_memberUserInfo {
            display: flex;
            align-items: center;
          }
          .module_memberPic {
            width: 40px;
            height: 40px;
            margin: 0 15px 0 0;
            border-radius: $borderRadius;
            border: solid .5px $dullColor;
            background-position: center;
            background-repeat: cover;
          }
          h6 {
            font-size: 1.2rem;
          }
          p {
            float: right;
            margin: 0 10px 0 0;
          }
          p:hover {
            cursor: pointer;
          }
        }
        .module_member:last-child {
          margin: 0;
        }
      }
      .module_memberListOverflow {
        position: absolute;
        top: 5px;
        bottom: 5px;
        left: 5px;
        right: -17px;
        overflow-y: scroll;
        margin: 0
      }
    }
    .module_memberListMaskOverflow{
      overflow: hidden;
      height: 145px;
    }
    .module_userInputBox {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      .module_userListMask {
        width: 25vw;
        // min-height: 5vh;
        height: 150px;
        overflow: hidden;
        display: none;
        z-index: 1;
        position: absolute;
        // opacity: 0;
        top: 1.9rem;
        left: 0;
        border-bottom-right-radius: $borderRadius;
        border-bottom-left-radius: $borderRadius;
        border-top: solid .5px $dullColor;
        border-left: solid .5px $darkColor;
        border-bottom: solid .5px $darkColor;
        border-right: solid .5px $darkColor;
      }
      .module_userList {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: - 20px;
        width: calc(25vw + 20px);
        // min-height: 5vh;
        // max-height: 40vh;
        overflow-y: scroll;
        background-color: white;
        color: $darkColor;
        // transition: all 7s ease-in-out;
        .module_userListItem{
          // margin: 5px 0;
          display: flex;
          align-items: center;
          padding: 10px 5px;
          border-bottom: solid .5px $dullColor;
          .module_userListItemPic {
            width: 30px;
            height: 30px;
            margin: 0 5px 0 0;
            border-radius: $borderRadius;
            border: solid .5px $dullColor;
            background-position: center;
            background-repeat: cover;
          }
        }
        .module_userListItem:last-child {
          border-bottom: solid .5px transparent;
        }
        .module_userListItem:hover {
          cursor: pointer;
        }
      }
      .module_userListDisplay {
        // opacity: 1;
        display: block;
      }
    }
    button {
      height: 2.5rem;
      padding: 10px;
      border: none;
      border-radius: $borderRadius;
      background-color: $mediumColor;
      color: $lightColor;
      font-family: $straightFontFamily;
      font-size: 1rem;
      position: absolute;
      bottom: 0;
      right: 0;
    }
    button:hover {
      cursor: pointer;
    }
    button:focus {
      outline: none;
    }
  }
  .module_box > * {
    margin: 10px;
  }
}
