.tools{
    border: 1px solid black;
    border-radius: 50%;

    button{
        background-color: white;
        border: none;
        width: 25px;
        height: 15px;
        outline: none;
    }

    

}

