@import './../../sassVars.scss';

.whiteboard{

    display: flex;
    flex-direction: column;
    // padding-top: 50px;


    .Nav{
    position: fixed;
    z-index: 2;
        height: 50px;
        width: 100vw;
        display: flex;
        // justify-content: space-between;
        background-color: $darkColor;
        font-family: $displayFontFamily;
        color: $brightColor;
        align-items: center;

        p{
            margin-right: 50px;
        }
        
        .link{
            display: flex;
            align-items: center;
        }
    }

    a{
        color: $brightColor;
        text-decoration: none;
    }

    button{
        position: absolute;
        background-color: transparent;
        border: none;
        width: 35px;
        height: 35px;
        outline: none;
        img {
            width: 35px;
            height: 35px;
        }
        &:hover, {
            padding: 0 4px;
            // background-color: $lightColor;
            cursor: pointer;
        }
    }
}
.all-tools{
    height: 350px;
    width: 350px;
    position: fixed;
    background-color: $lightColor;
    bottom: 0;
    left: 0; 
    border: solid 1px $dullColor;
    border-radius: 0 350px 0 0;
    margin-top: 10px;
    transition: all 1s ease-in-out;
    // .item-active {
    //     border: solid .5px $brightcolor;
    // }
    #clear {
        top: 9px;
    }
    #undo {
        top: 12px;
        left: 45px;
    }
    #redo {
        top: 23px;
        left: 90px;
    }
    #eraser {
        top: 46px;
        left: 130px;
        // bottom: 5px;
    }
    #toggle {
        position: absolute;
        top: 90px;
        left: 200px;
        transform: rotate(90deg);
        height: 45px;
        width: 45px;
    }
    #toggle:hover {
        cursor: pointer;
    }
    #marker {
        // top: 70px;
        left: 245px;
        bottom: 160px;
    }
    #line {
        // top: 100px;
        left: 270px;
        bottom: 110px;
    }
    #circle {
        left: 285px;
        bottom: 60px;
    }
    #square {
        left: 290px;
        bottom: 10px;
    }
    #size {
        color: $darkColor;
        position: absolute;
        bottom: 12px;
        left: 25px;
    }
    #color {
        position: absolute;
        top: 95px;
        left: 30px;
        p {
            color: $darkColor;
            // float: right;
            text-align: right;
        }
    }
    #fillcolor {
        position: absolute;
        top: 160px;
        left: 100px;
        p {
            color: $darkColor;
            // float: right;
            text-align: right;
        }
    }
    .fillbucketBox {
        position: absolute;
        width: 40px;
        height: 40px;
        padding: 2px;
        bottom: 55px;
        left: 30px;
        border: solid 1px $mediumColor;
        border-radius: $borderRadius;
        // background-color: $dullColor;
        img {
            position: absolute;
            width: 35px;
            height: 35px;
            transform: scale(-1, 1);
            background-color: transparent;
        }
        input {
            position: absolute;
            width: 35px;
            height: 35px;
            opacity: 0;
        }
    }
    .active {
            background-color: $brightColor;
            
    }
}
.all-tools-hide {
    left: -185px;
    bottom: -200px
}

input[type="color"]{
    background-color: transparent;
    border: none;
    padding: 0;
    width: 100px;
    height: 120px;
    outline: none;
    border-radius: $borderRadius;
}

input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 1;
}

input[type="color"]::-webkit-color-swatch {
    border: 1px solid $darkColor;
    border-radius: $borderRadius;
}
input:hover {
    cursor: pointer;
}

// .Sketchpad {
//     margin: 50px;
// }
